Nav {
  width: 100%;
  height: 100px;
  align-items: left;
  background-color: rgba(95, 95, 95);
  color: rgb(247, 200, 115);
  font-size: large;
  font-weight: bold;
}
.mr-auto {
  margin-right: 20px;
}

body {
  background-color: rgb(219, 219, 219);
}

h3 {
  border-bottom: 1.5px solid rgb(247, 201, 115);
}
